{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        Reports Dashboard
    </h2>

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body">

                    <h5>Total Invoices</h5>

                    <h2>245</h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body">

                    <h5>Paid</h5>

                    <h2>230</h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body">

                    <h5>Pending</h5>

                    <h2>15</h2>

                </div>

            </div>

        </div>

    </div>

    <br>

    <div class="card shadow">

        <div class="card-body">

            <h4>Monthly Reports</h4>

            <p>

                This page will display

            </p>

            <ul>

                <li>Expense Reports</li>

                <li>Vendor Reports</li>

                <li>GST Reports</li>

                <li>Monthly Analytics</li>

            </ul>

        </div>

    </div>

</div>

{% endblock %}